@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', serif;
    box-sizing: border-box;
}

html, body, #root, .App {
    height: 100%;
    width: 100%;
}

#root {
    position: relative;
}

#modal {
    position: absolute;
    height: 100%;
    width: 100%;
}

table {
    border-spacing: 0;
    border-collapse: separate;
}

/* setting focus style for custom file input*/
#cover_art:focus + label{
    outline: 1px solid #000;
    outline: -webkit-focus-ring-color auto 2px;
}
